body {
	background: grey;
	margin: 0;
}

header {
	background: white;
	padding: 20px;
}

header h1 {
	margin: 0;
	text-align: center;
}

div.post {
	background: white;
	margin-top: 15px;
}

div.post img {
	width: 100%;
}
div.post .post-header div:first-child¨ {
	display: inline-block;
	width: 80%;
}
div.principal {
	width: 600px;
	margin: auto;
}

p {
	padding: 10px;
}
